{% extends 'main.html' %}



{% block content %}
<h1>All users:</h1>
<h1>Doctors:</h1>
{% for user in object_list %}
    <div>{% if user.is_doctor %}
        <div>
            <a href="{%url 'updateUser' user.email%}">
                Edit
                </a>
            <h4>{{user.first_name}} {{user.last_name}} email: {{user.email}}</h4>
        <br>
        </div>
          
    </div>
    {%endif%}
{% endfor %}

<h1>Patients:</h1>
{% for user in object_list %}
<div>{% if not user.is_doctor %}
    <div>
        <a href="{%url 'updateUser' user.email%}">
            Edit
            </a>
           <h4>{{user.first_name}} {{user.last_name}} email: {{user.email}}</h4>
        <br>
    </div>
    
</div>
{%endif%}
{% endfor %}


{% endblock content %}